html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
}

.header {
    background-color: greenyellow;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 60px;
    /* Solo se uso para ver como dimensionar con clic
    resize: both;
    overflow: auto;
    */
}

/*------------------------ Main Container -----------------------*/

body .main_container {
    background-color: aqua;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    resize: both;
    overflow: hidden;
}

body .main_container .gameboard {
    background-color: violet;
    display: grid;
    width: 35%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

}

.gameboard>div{
    border: 1px black solid;
    position: relative;
}

.gameboard>div::before {
    display: table;
    padding-bottom: 100%;
    content: "";
}

.square{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

