:root{
    --background-color-counter: #191718;
    --background-color-mainContainer: #0A62D0;
    --background-color-header: #191718;
    --background-color-buttonSection: #F3D849;
}

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body{
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    grid-template-rows: 0.4fr 2fr;
    /*resize: both;
    overflow: hidden;*/
    height: 100%;
}

/*------------------------ Main Container -----------------------*/

body .main_container {
    grid-column: 2/-1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    resize: both;
    overflow: hidden;
    background-color: var(--background-color-mainContainer);
    padding: 0px 0;
}

body .main_container .gameboard {
    display: grid;
    width: 38%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column: 2/-1;
    grid-row: 2/-1;
    gap: 5px;
    background-color: black;
}



.gameboard>div{
    position: relative;
    background-color: #0A62D0;
}

.gameboard>div::before {
    display: table;
    padding-bottom: 100%;
    content: "";
}

.square{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: white;
    font-size: 200px;
    /*z-index: 1;*/
}

.pivot {
    background-color: transparent;
}

.pivot1 {
    font-size: 1px;
}

.pivot2 {
    font-size: 1px;
}

.selectedX{
    transform: rotate(45deg);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selectedO{
    border-radius: 50%;
    border: 7px white solid;
    width: 50%;
    height: 50%;
    background-color: transparent;
    margin: auto;
    left: 20%;
    top: 20%;
}

.winnerX{
    color: gold;
}

.winnerO{
    border: 7px gold solid;
}

/* ---------------------------------------------------POP UP winner */

.popUpWinner{
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    visibility: hidden;
    background-color: #191718;
    z-index: 1;
    transform: scale(0.005);
    transition: transform 0.4s;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    color: white;
    gap: 200px;
}

.winnerInfor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popUpWinner_open{
    height: 100%;
    width: 100%;
    position: absolute;
    visibility: visible;
    display: flex;
    background-color: #0ad074;
    z-index: 1;
    transform: scale(1);
}

.symbolWinnerO {
    
    height: 125px;
    width: 125px;
    border: 6px white solid;
    border-radius: 50%;    
}

.symbolWinnerX {
    
    height: 125px;
    width: 125px;
    transform: rotate(45deg);
    font-size: 250px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.newGame{
    font-size: 60px;
    border: 6px black solid;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #0A62D0;
    cursor: pointer;
}

.newGame:hover {
    background-color: #3277cc;
}

.close {
    position: absolute;
    top: 30px;
    right: 40px;
    background-color: #191718;
    transform: rotate(45deg);
    width: 50px;
    height: 50px;
    display: flex;
    border: 2px white solid;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 50px;
    font-weight: 600;
    cursor: pointer;
    
}
/*------------ SIDEBAR ------------*/
/* Efecto de Header*/
.header {
    grid-column: 1/2;
    grid-row: 1/2;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 40px;
    /* Solo se uso para ver como dimensionar con clic
    resize: both;
    overflow: auto;
    */

    background-color: black;
    color: white;
    
    
}
/*End efecto Header*/

.buttons_section{
    grid-column: 1/2;
    grid-row: 2/-1;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--background-color-buttonSection);

}

.buttons_section button {
    height: 15%;
    width: 80%;
    border: 2px var(--background-color-counter) solid;
    border-radius: 15px;
    font-size: 40px;
}

/* -------- Counter section -----------*/
.counters{
    grid-column: 2/-1;
    grid-row: 1/2;
    padding: 2px 0;
    
    background-color: var(--background-color-counter);

    align-items: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    
}


.counter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: transparent;
    gap: 30px;
}

.counter .name_counter {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.counter2 {
    display: flex;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: #191718;
    align-items: center;
}

.counters .versus{
    font-size: 80px;
}

.counter_number{
    display: flex;
    justify-content: center;
    font-size: 36px;
}

.symbol {
    transform: rotate(45deg);
    background-color: transparent;
    font-size: 100px;
    height: 60%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle_counter {
    border: 3px white solid;
    border-radius: 50%;
    height: 70%;
    width: 70%;
    
}

.counter .name {
    font-size: 26px;
}
